
.navigation {
    background-color: black;
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 70px;
    font-size: 40px;
    overflow: hidden;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    transition: height 0.5s linear;
}
.navigation a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
.navigation a:hover{
    opacity: 1;
}
#hidden{
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    text-shadow: 1px 1px 0 #444;
}

#hidden a{
    color: #fff;
    font-size: 1.0em;
    text-decoration: none;
    opacity: 0.5;
    text-shadow: none;
}
/*
item {
    border: solid;
    background-color: white;
    border-radius: 45%;
    color: black;
    padding: 9px 30px
}
*/

.navigation:hover{
    height: 60px;
}

.row {
    width: 100%;
}
/*...........................................................
slide show and time
.............................................................*/
.slideshow{
    width: 100%;
    max-width: 1700px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
}
.slideshow img{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    display: block;
    height: 800px;
}
.slideshow img:first-child {
    position: relative
}
.slideshow img:nth-of-type(1){
    -webkit-animation:autoplay 48s linear infinite 0s;
    animation:autoplay 48s linear infinite 0s
}

.slideshow img:nth-of-type(2){
    -webkit-animation:autoplay 48s linear infinite 6s;
    animation:autoplay 48s linear infinite 6s;
}

.slideshow img:nth-of-type(3){
    -webkit-animation:autoplay 48s linear infinite 12s;
    animation:autoplay 48s linear infinite 12s;
}

.slideshow img:nth-of-type(4){
    -webkit-animation:autoplay 48s linear infinite 18s;
    animation:autoplay 48s linear infinite 18s;
}

.slideshow img:nth-of-type(5){
    -webkit-animation:autoplay 48s linear infinite 24s;
    animation:autoplay 48s linear infinite 24s;
}

.slideshow img:nth-of-type(6){
    -webkit-animation:autoplay 48s linear infinite 30s;
    animation:autoplay 48s linear infinite 30s;
}

.slideshow img:nth-of-type(7){
    -webkit-animation:autoplay 48s linear infinite 36s;
    animation:autoplay 48s linear infinite 36s;
}

.slideshow img:nth-of-type(8){
    -webkit-animation:autoplay 48s linear infinite 42s;
    animation:autoplay 48s linear infinite 42s;
}

/*image transition timefrom one image to another*/
@keyframes autoplay {
    0% {left: -100%;}
    1%, 12.5% {left:0;}
    13.5%, 100% {left: 100%}
}

@-webkit-keyframes autoplay {
    0% {left: -100%;}
    1%, 12.5% {left:0;}
    13.5%, 100% {left: 100%}
}
