
.navigation {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    height: 70px;
    font-size: 40px;
}

.item {
    border: solid;
    background-color: white;
    border-radius: 45%;
    color: black;
    padding: 9px 30px
}

.row {
    width: 100%;
}
