
.icon {
     top:0;
    left:0;
    z-index:2;
    position:absolute;
    margin: 20px;
    padding: 5px
}
/*styling navigation*/
.navigation {
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
/*    position:fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.slideshow {
    width:100%;
    height: 100%;
    max-width:2000px;
    max-height: 720px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
/*    border: 1px solid #000;*/
}

.slideshow img {
    position:absolute;
    top:0; left:-100%;
    width:100%;
    display:block;
}

.slideshow img:first-child {
    position:relative;
}

/*time and slideshow transition*/
.slideshow img:nth-of-type(1) {
    -webkit-animation:autoplay 48s linear infinite 0s;
    animation:autoplay 48s linear infinite 0s;
}

.slideshow img:nth-of-type(2) {
    -webkit-animation:autoplay 48s linear infinite 6s; animation:autoplay 48s linear infinite 6s;
}
.slideshow img:nth-of-type(3) {
    -webkit-animation:autoplay 48s linear infinite 12s; animation:autoplay 48s linear infinite 12s;
}
.slideshow img:nth-of-type(4) {
    -webkit-animation:autoplay 48s linear infinite 18s; animation:autoplay 48s linear infinite 18s;
}
.slideshow img:nth-of-type(5) {
    -webkit-animation:autoplay 48s linear infinite 24s; animation:autoplay 48s linear infinite 24s;
}
.slideshow img:nth-of-type(6) {
    -webkit-animation:autoplay 48s linear infinite 30s; animation:autoplay 48s linear infinite 30s;
}
.slideshow img:nth-of-type(7) {
    -webkit-animation:autoplay 48s linear infinite 36s; animation:autoplay 48s linear infinite 36s;
}
.slideshow img:nth-of-type(8) {
    -webkit-animation:autoplay 48s linear infinite 42s; animation:autoplay 48s linear infinite 42s;
}

@keyframes autoplay {
0% {left:-100%;}
1%, 12.5% {left:0;}
13.5%, 100% {left:100%;}
}

@-webkit-keyframes autoplay {
0% {left:-100%;}
1%, 12.5% {left:0;}
13.5%, 100% {left:100%;}
}




.container {
    101%
}

footer {
    background: black;
    text-align: center;

}
footer img{
    height: 100px;
    width: 100px;
    padding: 4px;
}
